
body {
    background-color:#DCE0D9;
    padding: 0px;
    margin: 0px;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
    color: #FBF6EF;
}

.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}

nav {
    width: 100%;
    padding: 1%;
    background-color: #283618;
    height: 150px;
}

.divNavitem {
    text-align: right;
    font-size: 30px;
}

ul {
    width: 50%;
    margin-left: auto;
}
.heroImg {
    height:1000px;
    padding: 1px;
    background-image: url("../images/backgroundimagepng.png");
    color: #283618;
}

.imgclass {
    width: 35%;
}

a {
    color: #FBF6EF;
}

.content {
    width:1000px;
    margin: 0 auto;
    text-align: center;
}

.pHero {
    font-size: 30px;
    text-align: center;
    padding: 2%;
}

.pabout {
    font-size: 40px;
    color: #283618;
    width: 35%;
    padding: 5%;
    text-align: center;
}

footer {
    background-color: #283618;
}

footer ul {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

.H1 {
   font-size: 55px;
   text-align: center;
   vertical-align: bottom;
}

.aboutMe {
    height: 1000px;
    background-color: #FAF9F9;
}
.about{
    font-size: 30px;
    color: #283618;
    text-align: center left;
}

.button {
    font-size: 40px;
    padding: 15px 32px;
    margin-left: 15%;
    margin-top: -50px;
}

.aboutimg {
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    margin-top: -800px;

}

#myWork-Grid {
    display: grid;
    grid-template-rows: max-content 3fr 3fr 3fr max-content;
    padding: 20px;
    max-height:2250px;
    
}
.h1work {
    text-align: center;
    font-size: 30px;
    color: #283618;
}
.project-card {
    display: grid;
    justify-items: right;
    color: #283618;
    font-size: 27px;
    padding: 10%;
    text-align: center;
}
h4 {
    font-size: 30px;
    text-decoration: underline;
}

#mySkills {
    background-color:#FAF9F9;
    color: #283618;
    height: 1000px;
}
.skillsHead {
    text-align: center;
    font-size: 30px;
    padding: 5px;
}
.skillCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    color: #283618;
    font-size: 25px;
    text-align: center;
    
    
}
.flexContainer {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width:600){
    .flexContainer {
        flex-direction: column;
        width: 100%;

    }
    #categoryGrid {
        display: grid;
    }
    
}

